* {
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 120px 225px;
  grid-template-rows: 230px 120px 140px;
  grid-template-areas: 
    "item1 item1 item2"
    "item3 item4 item4"
    "item3 item5 item5";
  gap: 10px;
  background-color: rgb(26,28,40);
  height: 45%;
  width: 60%;
  padding: 25px 150px 35px 45px;
  min-width: 0;

}

.item1 {
  background-color: rgb(235,80,32);
  grid-area: item1;
  
}

.item2 {
  background-color: rgb(255,164,1);
  grid-area: item2;
}

.item3 {
  background-color: rgb(5,170,66);
  grid-area: item3;

}

.item4 {
  background-color: rgb(1,174,253);
  grid-area: item4;
}

.item5 {
  background-color: rgb(1,174,253);
  grid-area: item5;
}

button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: rgb(235,80,32);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(34, 13, 13);
  color: rgb(235,80,32);

}

button:active {
  border: 2px solid rgb(235,80,32);
}